/* @import url(gallery.css); */
/* @import url(contacts.css); */

body {
  font-family: "Manrope", Courier, monospace;
}

a,
h1,
h2,
.intro-description,
.about-description,
.about-btn-services,
.project-location,
.showAllProjects,
.service-description,
.email,
.copyright,
.review-title,
.review-text {
  letter-spacing: -0.03em;
}

h2 {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #121212;
}

/* Блок Header */

header {
  margin: 0 auto;
  position: relative;
  width: 1150px;
  height: 128px;
}

.logo {
  position: absolute;
  top: 33px;
}

.navLinks {
  position: absolute;
  top: 33px;
  left: 685px;
}

.navLink {
  display: inline-block;
  margin-right: 57px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.navLink:last-child {
  margin-right: 0px;
}

.navLink:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 1px;
  opacity: 0.5;
}

/* Блок Main */

main {
  margin: 0 auto;
}

section {
  margin: 0 auto 150px;
  padding: 0 15px;
  width: 1180px;
}

h1 {
  margin-bottom: 30px;
  width: 956px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
}

/* секция intro */


.intro-backgroung-image-wrapper {
  position: relative;
  background: url(../images/intro-chair.png) center/cover no-repeat, rgba(12, 12, 12, 0.5);
  height: 500px;
}

.intro-description {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 430px;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}

/* секция About */


.about-description {
  margin-bottom: 30px;
  width: 1048px;
  font-size: 45px;
  line-height: 61px;
  color: #121212;
}

.about-btn-services {
  display: block;
  width: 255px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 67px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ad1818;
}

/* секция Projects */

.project {
  height: 548px;
  margin-bottom: 90px;
}

.project-image {
  max-width: 100%;
  margin-bottom: 15px;
}

.project-location {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 41px;
  color: #121212;
}

.details {
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
}

.showAllProjects {
  text-decoration: none;
  font-size: 30px;
  line-height: 153px;
  text-align: center;
  color: #ad1818;
  border: 1px solid #ad1818;
  border-radius: 5px;
}

.showAllProjects:hover {
  color: #ffffff;
  background-color: #ad1818;
}

/* секция Services */

#services {
  width: 100%;
  background-color: #121212;
  padding: 150px 0px;
}

.services-container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 15px;
}

#services h2 {
  color: #ffffff;
}

.services {
  margin-bottom: 104px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 75px;
}

.service {
  position: relative;
  width: calc(50% - 5px);
}

.service-image {
  margin-bottom: 25px;
  max-width: 100%;
  height: 389px;
  object-fit: cover;
}

.service-price {
  padding: 0 20px;
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #ad1818;
  border-radius: 5px;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
}

.service-description {
  font-size: 30px;
  line-height: 41px;
  color: #FFFFFF;
}

.order-service {
  font-size: 30px;
  line-height: 153px;
  text-align: center;
  color: #ffffff;
  background: #AD1818;
  border-radius: 5px;
}

.order-service:hover {
  color: #AD1818;
  background: #ffffff;
}

/* Секция Reviews */

.reviews {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 80px;
  column-gap: 50px;
}

.review {
  width: calc(50% - 25px);
  ;
}

.review:last-child:nth-child(2n + 1) {
  width: 75%;
}

.review-title {
  margin-bottom: 14px;
  font-size: 45px;
  line-height: 61px;
}

.review-text {
  font-size: 22px;
  line-height: 30px;
}
