.mainBox {
    margin: 0 auto;
    width: 1400px;
    font-family: "Manrope", Courier, monospace;
    letter-spacing: -0.03em;

}

.header {
    margin: 0 auto;
    width: 1150px;
}

.navBar {
    position: relative;
    height: 128px;
}

.logo {
    position: absolute;
    left: 125px;
    top: 33px;
}

.navBarLinks {
    position: absolute;
    top: 33px;
    left: 810px;
}

.navBarLink {
    margin-top: 33px;
    margin-right: 60px;
    display: inline;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #121212;
}

a {
    text-decoration: none;
}

header {
    margin: 0 125px 150px 125px;
}

h1 {
    margin-bottom: 30px;
    width: 956px;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    letter-spacing: -0.03em;
}

h2 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

.header-image-chair {
    position: relative;
    background-image: url(../images/header-1.png);
    width: 1150px;
    height: 500px;
}

.header-p1 {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
}

.about {
    margin: 0 0 150px 125px;
    width: 1051px;
    height: 518px;
}

.about-p {
    margin-bottom: 30px;
    width: 1048px;
    height: 366px;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    color: #000000;
}

.about-btn-services {
    display: block;
    border-radius: 5px;
    width: 255px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #ffffff;
    background-color: #ad1818;
    text-decoration: none;
    padding: 20px 40px;
}

.projects {
    margin: 0 auto 150px;
    width: 1150px;
}

.project {
    height: 548px;
    margin-bottom: 90px;
}

.project-image {
    margin-bottom: 15px;
}

.project-location {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 41px;
    color: #121212;
}

.details {
    color: #ad1818;
}

.showAllProjects {
    display: block;
    height: 153px;
    text-decoration: none;
    font-size: 30px;
    line-height: 153px;
    text-align: center;
    color: #ad1818;
    border: 1px solid #ad1818;
    border-radius: 5px;
}

.showAllProjects:hover {
    color: #ffffff;
    background-color: #ad1818;
}

.services {
    margin: 0 auto;
    height: 1844px;
    width: 100%;
    background-color: #121212;
    padding: 150px 125px;
}

.servisesLink {
    color: #ffffff;
}

.service-image {
    margin-bottom: 15px;
}

.service-description {
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 41px;
    color: #ffffff;
}

.example {
    height: 717px;
    position: relative;
    background: url(../images/bedroom.png);
}

.example-p {
    position: absolute;
    width: 443px;
    bottom: 60px;
    left: 125px;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}

.contacts{
    position: relative;
    height: 553px;
}
.icon-phone {
    position: absolute;
    left: 120px;
    top: 150px;

}

.contacts-h2 {
    position: absolute;
    left: 125px;
    top: 186px;
}

.tel {
    position: absolute;
    left: 125px;
    top: 243px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}

.email {
    position: absolute;
    left: 125px;
    top: 333px;
    font-size: 60px;
    text-decoration: underline;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
    opacity: 0.5;
}

.footer {
    position: relative;
    height: 229px;
    background-color: #333333;
}
.footerLinks{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 450px;
    height: 25px;
    top: 60px;
    left: 475px;
    color: #FFFFFF;
}

.footerLink{
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.copyright {
    position: absolute;
    font-family: "Manrope", Courier, monospace;
    font-size: 20px;
    line-height: 27px;
    opacity: 50%;
    color: #ffffff;
    text-decoration: none;
   left:493px;
    bottom: 30px;
}