.project {
    height: 548px;
    margin-bottom: 90px;
}

.project-image {
    max-width: 100%;
    margin-bottom: 15px;
}

.project-location {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 41px;
    color: #121212;
}


@media (max-width: 1180px) {
    .project-image {
        width: 100%;
    }
}

@media (max-width: 960px) {
    #projects {
        margin-bottom: 100px;
    }

    .project {
        margin-bottom: 80px;
        height: 100%;
    }

    .project:last-child {
        margin-bottom: 100px;
    }

    .project-image {
        width: 100%;
    }

    .project-location {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34px;
    }
}

@media (max-width: 820px) {
    .project-location {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 28px;
    }
}

@media (max-width: 680px) {
    .project-location {
        margin-bottom: 11px;
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 460px) {
    .project {
        margin-bottom: 49px;
    }

    .project:last-child {
        margin-bottom: 60px;
    }

    .project-location {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 375px) {
    .project {
        margin-bottom: 49px;
    }

    .project:last-of-type {
        margin-bottom: 60px;

    }

    .project-image {
        margin-bottom: 20px;
    }

    .project-location {
        margin-bottom: 11px;
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 320px) {
    .project-location {
        margin-bottom: 11px;
        font-size: 12px;
        line-height: 16px;
    }
}

@media (max-width: 280px) {
    .project-location {
        margin-bottom: 11px;
        font-size: 12px;
        line-height: 16px;
    }
}