/* по макету */
@media (max-width: 960px) {
  .header {
    width: 100%;
  }

  main {
    width: 100%;
  }

  section {
    margin-bottom: 120px;
  }

  h1 {
    width: 802px;
    font-size: 50px;
  }

  .intro-backgroung-image-wrapper {
    position: relative;
    height: 400px;
    background: url(../images/intro-chair-960.png) 25% center/cover no-repeat, rgba(12, 12, 12, 0.5);
  }

  .intro-description {
    bottom: 30px;
  }

  .about-description {
    width: 80%;
    font-size: 35px;
    line-height: 48px;
  }

  #projects{
    margin-bottom:100px;
  }

  .project {
    margin-bottom: 80px;
    height: 100%;
  }

  .project:last-child {
    margin-bottom: 100px;
  }

  .project-image {
    width: 100%;
  }

  .project-location {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }

  #services {
    padding: 150px 0 120px 0;
  }

  .services {
    margin-bottom: 80px;
    row-gap: 80px;
  }

  .service-image {
    margin-bottom:15px;
    height: 315px;
  }

  .service-description {
    font-size: 25px;
    line-height: 34px;
  }

  .service-price {
    padding: 0 27px;
    font-size: 20px;
    line-height: 40px;
  }

  .reviews {
    row-gap: 80px;
    column-gap: 10px;
  }

  .review {
    width: calc(50% - 5px);
  }

  .review-title {
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 48px;
  }

  .review-text {
    font-size: 20px;
    line-height: 27px;
  }
}

/* эстетичное отображение заголовков, текста и изображений при промежуточных вариантах ширины экрана */
@media (max-width: 820px) {
  h1 {
    line-height: 50px;
    width: 100%;
    font-size: 40px;
  }

  .intro-backgroung-image-wrapper {
    height: 350px;
  }

  .about-description {
    width: 80%;
    font-size: 28px;
    line-height: 44px;
  }

  .project-location {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 28px;
  }

  .details {
    font-size: 18px;
    line-height: 25px;
  }

  .showAllProjects {
    margin: 0 15px;
    font-size: 26px;
    line-height: 120px;
  }

  #services {
    padding: 100px 0px;
  }

  .services {
    margin-bottom: 70px;
    row-gap: 70px;
  }

  .service-description {
    font-size: 22px;
    line-height: 30px;
  }

  .service-price {
    padding: 0 15px;
    font-size: 16px;
    line-height: 32px;
  }

  .order-service {
    font-size: 26px;
    line-height: 120px;
  }

  .reviews {
    row-gap: 80px;
  }

  .review {
    width: calc(50% - 5px);
  }

  .review-title {
    font-size: 30px;
  }
}

/* для узких планшетов, портретного ориентирования или альбомного ориентирования на мобилках */
@media (max-width: 680px) {
  section {
    margin-bottom: 100px;
  }

  h1 {
    line-height: 40px;
    width: 100%;
    font-size: 37px;
  }

  .intro-backgroung-image-wrapper {
    height: 310px;
  }

  .intro-description {
    width: 350px;
    font-size: 18px;
    line-height: 24px;
    bottom: 30px;
    left: 30px;
  }

  .about-description {
    width: 80%;
    font-size: 30px;
    line-height: 40px;
  }

  .about-btn-services {
    width: 100%;
  }

  .project-location {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 24px;
  }

  .showAllProjects {
    line-height: 100px;
  }

  .details {
    font-size: 16px;
    line-height: 22px;
  }

  #services {
    padding: 75px 0px;
  }

  .services {
    margin-bottom: 60px;
    row-gap: 60px;
    flex-direction: column;
  }

  .service {
    width: 100%;
  }

  .service-image {
    height: 100%;
    width: 100%;
  }

  .order-service {
    line-height: 100px;
  }



  .reviews {
    flex-direction: column;
  }

  .review {
    width: 100%;
  }

  .review:last-child:nth-child(2n + 1) {
    width: 100%;
  }



}